@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@1&family=Cormorant+Infant:ital,wght@1,300&family=Forum&family=IBM+Plex+Sans+Thai+Looped:wght@200;300;500&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Montserrat:wght@400;700;800&family=Ubuntu+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 22px;
    color: bisque;
}

h1{
    color: beige;
    text-align: center;
}

.ContainerButton{
    align-content: left;
    justify-content: left;
    margin-top: 200px;
    margin-left: 375px;   
}

.btn{
    border: 3px solid rgba(100, 100, 100, 0.1);
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    font-family: 'Libre Baskerville', serif;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.6s;
}

.btn:hover{
    background-position: center;
}


.btn-primary{
    background-image:linear-gradient(110deg, #ff7707 60%, #d38a4f 60%);
}
.btn-second{
    background-image: linear-gradient(110deg, #1c62e4 60%, #2c4083 60% );
}

.btn-fifth{
    background-image: linear-gradient(110deg, #ffffffbb 60%, #bebebebb 60% );
    color: black
}