<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style10.css">
    <link rel="stylesheet" href="/static/style/style12.css">
    <title>Ventas</title>
</head><script src="https://kit.fontawesome.com/42a3b7e233.js" crossorigin="anonymous"></script>

<div class="hero">
    <div class="services">
        <h2 class="logo"> Bienvenido al inventario</h2>

        <body>

            <h1>
                <br>
                <br>
                <br>
                <a href="{{ url_for('Inventario.create') }}" class="btn btn-primary"> Agregra al inventario</a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href="{{ url_for('Inventario.inventario') }}" class="btn btn-second"> Administrar inventario</a>
            <h1>
        <body>
    </div>
    <a href="{{ url_for('auth.logout') }}" class="btn-fifth">Cerrar sesión</a>
    <br>
    <a href="{{ url_for('auth.adm') }}" class="btn-fifth">Página principal</a>
    <br>
    
</div>  
